Repository KTB-15/TripPopBackend, pull requests merged in 2024-08, with the labels that each got.

#9 멤버 등록할 때 추가된 service 테스트
  src/main/java/com/kakaotech/back/dto/member/MemberRequestDto.java
  src/test/java/com/kakaotech/back/service/MemberServiceTest.java
Labels: 🧪 test

#8 Feature/place photo
  src/main/java/com/kakaotech/back/common/CustomExceptionHandlerAdvice.java
  src/main/java/com/kakaotech/back/common/exception/GoogleApiException.java
  src/main/java/com/kakaotech/back/config/GoogleApiConfig.java
  src/main/java/com/kakaotech/back/controller/PlaceController.java
  src/main/java/com/kakaotech/back/dto/place/PlaceReqDto.java
  src/main/java/com/kakaotech/back/dto/place/PlaceResDto.java
  src/main/java/com/kakaotech/back/repository/PlaceRepository.java
  src/main/java/com/kakaotech/back/service/PlaceService.java
  src/main/java/com/kakaotech/back/service/place/GooglePlaceService.java
  src/main/java/com/kakaotech/back/service/place/PlaceImageService.java
  src/main/java/com/kakaotech/back/service/place/PlaceService.java
  src/main/java/com/kakaotech/back/vo/PlaceCoordVO.java
  src/main/resources/application.yaml
  src/test/java/com/kakaotech/back/environment/EnvironmentTest.java
  src/test/java/com/kakaotech/back/repository/PlaceRepositoryTest.java
  src/test/java/com/kakaotech/back/service/PlaceServiceTest.java
Labels: ✨ feature, 🏗️ config

#11 Feature/travel style
  src/main/java/com/kakaotech/back/controller/MemberController.java
  src/main/java/com/kakaotech/back/controller/PlaceController.java
  src/main/java/com/kakaotech/back/dto/member/MemberSurveyDto.java
  src/main/java/com/kakaotech/back/dto/place/PlaceListReqDto.java
  src/main/java/com/kakaotech/back/dto/place/PlaceListResDto.java
  src/main/java/com/kakaotech/back/entity/Member.java
  src/main/java/com/kakaotech/back/service/MemberService.java
  src/main/java/com/kakaotech/back/service/place/GooglePlaceService.java
  src/main/java/com/kakaotech/back/service/place/PlaceService.java
  src/test/java/com/kakaotech/back/controller/MemberControllerTest.java
  src/test/java/com/kakaotech/back/service/MemberServiceTest.java
Labels: ✨ feature, 🧪 test

#12 JWT 추가 (access token, refresh token 포함)
  build.gradle
  src/main/java/com/kakaotech/back/common/CustomExceptionHandlerAdvice.java
  src/main/java/com/kakaotech/back/common/exception/UnauthorizedException.java
  src/main/java/com/kakaotech/back/config/RedisConfig.java
  src/main/java/com/kakaotech/back/config/SecurityConfig.java
  src/main/java/com/kakaotech/back/controller/AuthController.java
  src/main/java/com/kakaotech/back/controller/MemberController.java
  src/main/java/com/kakaotech/back/dto/auth/AuthorityDto.java
  src/main/java/com/kakaotech/back/dto/auth/LoginDto.java
  src/main/java/com/kakaotech/back/dto/auth/TokenDto.java
  src/main/java/com/kakaotech/back/dto/member/MemberDto.java
  src/main/java/com/kakaotech/back/entity/Authority.java
  src/main/java/com/kakaotech/back/entity/Member.java
  src/main/java/com/kakaotech/back/entity/RefreshToken.java
  src/main/java/com/kakaotech/back/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/kakaotech/back/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/kakaotech/back/jwt/JwtFilter.java
  src/main/java/com/kakaotech/back/jwt/JwtSecurityConfig.java
  src/main/java/com/kakaotech/back/jwt/TokenProvider.java
  src/main/java/com/kakaotech/back/repository/AuthorityRepository.java
  src/main/java/com/kakaotech/back/repository/MemberRepository.java
  src/main/java/com/kakaotech/back/service/AuthService.java
  src/main/java/com/kakaotech/back/service/CustomUserDetailsService.java
  src/main/java/com/kakaotech/back/service/MemberService.java
  src/main/java/com/kakaotech/back/util/SecurityUtil.java
  src/main/resources/application.yaml
Labels: ✨ feature, 🏗️ config
